#### 1. Find the mean of old scheme and new scheme column. (5 points)

In [3]:
import pandas as pd
import numpy       as np
import scipy.stats as stats
from    scipy.stats             import  ttest_1samp,ttest_ind, wilcoxon, ttest_ind_from_stats
import  scipy.stats             as      stats  
from    statsmodels.stats.power import  ttest_power
import  matplotlib.pyplot       as      plt
import os
df = pd.read_csv(os.getcwd() + '/data.csv')
df

    SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
0             1                         57                         62
1             2                        103                        122
2             3                         59                         54
3             4                         75                         82
4             5                         84                         84
5             6                         73                         86
6             7                         35                         32
7             8                        110                        104
8             9                         44                         38
9            10                         82                        107
10           11                         67                         84
11           12                         64                         85
12           13                         78                         99
13           14                         53                         39
14           15                         41                         34
15           16                         39                         58
16           17                         80                         73
17           18                         87                         53
18           19                         73                         66
19           20                         65                         78
20           21                         28                         41
21           22                         62                         71
22           23                         49                         38
23           24                         84                         95
24           25                         63                         81
25           26                         77                         58
26           27                         67                         75
27           28                        101                         94
28           29                         91                        100
29           30                         50                         68

In [4]:
df.describe()

       SALESPERSON  Old Scheme (in thousands)  New Scheme (in thousands)
count    30.000000                  30.000000                  30.000000
mean     15.500000                  68.033333                  72.033333
std       8.803408                  20.455980                  24.062395
min       1.000000                  28.000000                  32.000000
25%       8.250000                  54.000000                  55.000000
50%      15.500000                  67.000000                  74.000000
75%      22.750000                  81.500000                  85.750000
max      30.000000                 110.000000                 122.000000

In [5]:
print('Mean of Old Scheme is 68.033333')
print('Mean of New Scheme is 72.033333')

Mean of Old Scheme is 68.033333
Mean of New Scheme is 72.033333

#### 2. Use the five percent significance test over the data to determine the p value to check new scheme has significantly raised outputs? (10 points)

In [7]:
print("since we need to find five percent significance test over data alpha is 0.05, q=0.025 is considerd for two-tailed test")
print(np.abs(round(stats.norm.isf(q = 0.025),2)))

since we need to find five percent significance test over data alpha is 0.05, q=0.025 is considerd for two-tailed test
1.96

In [8]:
print("mean of new scheme is 72.033333 (Xbar = 72.033333 ; sample size n= 30 ; std = 24.062395 ; mu = 72)")
XAvg = 72.03333
mu = 72
sigma = 24.062395
n = 30
Z = (XAvg - mu)/(sigma/np.sqrt(n))
print('Value of Z is %2.5f' %Z)

mean of new scheme is 72.033333 (Xbar = 72.033333 ; sample size n= 30 ; std = 24.062395 ; mu = 72)
Value of Z is 0.00759

In [12]:
Z = -0.00759
P1 = stats.norm.cdf(Z)
print(P1)
Z1 = 0.00759
P2 = 1- stats.norm.cdf(Z1)
print(P2)
P  = P1 + P2
print(P)

0.49697205716411996
0.49697205716411996
0.9939441143282399

#### 3. What conclusion does the test (p-value) lead to? (2.5 points)

In [15]:
print("Since the P value for this two tail test is 0.9939 and it is greater than 0.05, our level of significance, we do not reject the null hypothesis and conclude that there is no sufficient evidence to prove that the mean fill is different from 72.")

Since the P value for this two tail test is 0.9939 and it is greater than 0.05, our level of significance, we do not reject the null hypothesis and conclude that there is no sufficient evidence to prove that the mean fill is different from 72.

### 4. Suppose it has been calculated that in order for Titan to break even, the average output must increase by £5000 in the scheme compared to the old scheme. If this figure is alternative hypothesis, what is:
        
        a) The probability of a type 1 error? (2.5 points)

        b) What is the p- value of the hypothesis test if we test for a difference of $5000? (5 points)

        c) Power of the test (5 points)

#### a) The probability of a type 1 error? (2.5 points)

In [46]:
print("mean of new scheme is", (5000+72.033333))

mean of new scheme is 5072.033333

# Type I error describes a situation where you reject the null hypothesis when it is actually true. This type of error is also known as a "false positive" or "false hit". The type 1 error rate is equal to the significance level α, so setting a higher confidence level (and therefore lower alpha) reduces the chances of getting a false positive.

In [47]:
XAvg = 5072.033333 # sample mean increased by 5000
mu = 5000 # considering population mean as 5000
sigma = 24.062395
n = 30
Z = (XAvg - mu)/(sigma/np.sqrt(n))
print('Value of Z is %2.5f' %Z)

Value of Z is 16.39666

In [48]:
print("In this example, Z = 16.39666 doesn't lies in the acceptance region because, +1.96 < Z = 16.39666. So the statistical decision is to reject the null hypothesis.")

In this example, Z = 16.39666 doesn't lies in the acceptance region because, +1.96 < Z = 16.39666. So the statistical decision is to reject the null hypothesis.

#### b) What is the p- value of the hypothesis test if we test for a difference of $5000? (5 points)

In [49]:
Z = -16.39666
P1 = stats.norm.cdf(Z)
print(P1)
Z1 = 16.39666
P2 = 1- stats.norm.cdf(Z1)
print(P2)
P  = P1 + P2
print(P)

1.0102261759106045e-60
0.0
1.0102261759106045e-60

In [50]:
print("Since the P value for this two tail test is 1.010 and it is greater than 0.05, we reject the null hypothesis and it proves that mean fill definetly not equal to 5000.")

Since the P value for this two tail test is 1.010 and it is greater than 0.05, we reject the null hypothesis and it proves that mean fill definetly not equal to 5000.

#### c) Power of the test (5 points)

In [51]:
n         = 30  
sigma     = 24.062395 
serr      = sigma / np.sqrt(n)

alpha     = 0.05
mu0       = 5072.033333 #  new mean value
q         = int(round(stats.norm.isf(q = 1- alpha, loc = mu0, scale = serr),0))
print("type II error=>", q)

type II error=> 5065

In [52]:
print('Power of test =>', (1-q))
print("since the power of test value doesnt lie between 0 & 1, it proves that the probaility of type II error is very high")

Power of test => -5064
since the power of test value doesnt lie between 0 & 1, it proves that the probaility of type II error is very high